@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
    background-image: url(../images/city-skyline-wallpapers-008.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
a:focus,button:focus{
    outline:none!important;
}
.site-title{
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
}
.white-text{
    color: #fff;
}
.blue-text{
    color: #5379fa !important;
}    
.black-text{
    color: #000 !important;
}  
.mg-top-5{
    margin-top:5px;
}
.mg-top-10{
    margin-top:10px;
}
.mg-top-15{
    margin-top:15px;
}
.styled-input{
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    -webkit-appearance: textfield;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid rgba(255,255,255,0.6);
}
.login-white-btn{
    height: 35px;
    background: #fff!important;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c!important;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
}
.login-white-btn:hover{
    opacity: 0.8;
}
#index-login-form ::-webkit-input-placeholder {
    color: #fff;
}

#index-login-form :-moz-placeholder { /* Firefox 18- */
    color: #fff;  
}

#index-login-form ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;  
}

#index-login-form :-ms-input-placeholder {  
    color: #fff;  
}
@media screen and (min-width:792px){
    #index-login-form{
        margin-top: 240px;
    }
}
.gray-link{
    color: #d0d0d0!important;
}
#menu{
    background-color: rgb(161, 141, 108);
}
#menu li{
    list-style: none;
}
#menu ul{
    padding-left:0px;
}
#menu li:first-child a{
    border-top:none;
}
#menu li:last-child a{
    border-bottom:1px solid lightgray;
}
#menu li a{
    padding:10px 10px;
    width:100%;
    font-family: 'Exo', sans-serif;
    text-align: center;
    color: #fff;
    display:inline-block;
    text-decoration:none!important;
    border-top:1px solid lightgray;
    transition: all 0.3s linear;
}
#menu li a:hover{
    background-color: #fff;
    color: #a18d6c;
}